name: "Cachix"

on:
  pull_request:
  push:

jobs:
  push-cachix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: "${{ secrets.CACHIX_NAME }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build f3-baremetal library
        run: nix build .
